<!DOCTYPE html>
<html>
  <head>
    <title>Bustaja</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="hidden" id="wrapper">
      <% flash.each do |name, msg| %>
        <div class='alert alert-<%= name %>'>
          <%= msg %>
        </div>
      <% end %>
    </div>
  </body>
  
  <script>
    $(document).ready(function() {
      setTimeout(function() {
        $('#wrapper').fadeOut("slow", function() {
          $(this).remove();
        })
      }, 1500);
    });
  </script>
</html>
